/* Basis setup!---------------------------------------------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  background-color: aliceblue;
  color: black;
  font-family: "Lato", "Arial", sans-serif;
  font-weight: 300;
  font-size: 20px;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
}

.clearfix {
  zoom: 1;
}
.clearfix:after {
  content: ".";
  clear: both;
  display: block;
  height: 0;
  visibility: hidden;
}

/* General components!---------------------------------------------------- */
.row {
  max-width: 1140px;
  margin: 0 auto;
}

section {
  padding: 80px 0;
}
.img-row {
  margin: 0 auto;
  width: 95%;
  margin-left: 2.5%;
}
/* Buttons!---------------------------------------------------- */

.btn:link,
.btn:visited,
input[type="submit"] {
  display: inline-block;
  padding: 10px 30px;
  font-weight: 300;
  text-decoration: none;
  border-radius: 200px;
  transition: background-color 0.5s, border 0.5s, color 0.5s;
}

.box,
input[type="submit"] {
  padding: 1%;
}
.btn-full:link,
.btn-full:visited,
input[type="submit"] {
  background-color: #e67e22;
  border: 1px solid #e67e22;
  color: #fff;
  margin-right: 15px;
}
.btn-ghost:link,
.btn-ghost:visited {
  border: 1px solid #e67e22;
  border: 1px solid #e67e22;
  color: #e67e22;
}

.btn:hover,
.btn:active,
input[type="submit"]:hover,
input[type="submit"]:active {
  background-color: #f08e26;
}

.btn-full:hover,
.btn-full:active,
input[type="submit"]:hover,
input[type="submit"]:active {
  border: 1px solid #f08e26;
}

.btn-ghost:hover,
.btn-ghost:active {
  border: 1px solid #f08e26;
  color: white;
}

/* Header!---------------------------------------------------- */
header.main {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(img/hero.jpg);
  background-position: center; /* centrar la imagen */
  background-size: cover; /*to see all the image  */
  height: 100vh; /* 100  view port*/
  background-attachment: fixed;
}

header.menu {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(img/menu-hero.jpg);
  background-position: center; /* centrar la imagen */
  background-size: cover; /*to see all the image  */
  height: 100vh; /* 100  view port*/
  background-attachment: fixed;
}

.hero-text-box {
  position: absolute;
  width: 1140;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* to center the text */
}
.logo {
  height: 200px;
  width: auto;
  float: left;
  margin-top: 10px;
}

.main-nav {
  float: right;
  list-style: none;
  margin-top: 55px;
}
.main-nav li {
  display: inline-block;
  margin-left: 40px;
}

.main-nav li a:link,
.main-nav li a:visited {
  padding: 8px 0;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 90%;
  border-bottom: 2px solid transparent;
  transition: border-bottom 0.5s;
}

.main-nav li a:hover,
.main-nav li a:active {
  border-bottom: 2px solid #e67e22;
}
/* paragraphs--------------------------------------------------- */
.long-text {
  line-height: 145%;
  width: 70%;
  margin-left: 15%; /* al faltar 30 porciento del width si ponemos el marge como 15 % estara centrado */
}
.section-features .long-text {
  margin-bottom: 30px;
}
.box p {
  font-size: 90%;
  line-height: 145%;
  text-align: justify;
}
/* Headdings!---------------------------------------------------- */
h1,
h2,
h3 {
  font-weight: 300;
  text-transform: uppercase;
}
h1 {
  margin-top: 0;
  margin-bottom: 20px;
  color: white;
  font-size: 240%;
  word-spacing: 4px;
  letter-spacing: 1px;
}
h2 {
  font-size: 180%;
  word-spacing: 2px;
  text-align: center;
  margin-bottom: 30px;
  letter-spacing: 1px;
}
.section-pizza h2 {
  margin-top: 5%;
  margin-bottom: 5%;
}
h2:after {
  display: block;
  height: 2px;
  background-color: #e67e22;
  content: " ";
  width: 100px;
  margin: 0 auto;
  margin-top: 30px;
}
h3 {
  font-size: 110%;
  margin-bottom: 15px;
}
/* icons-------------------------------------------------------------------- */
.icon-big {
  font-size: 350%;
  display: block;
  color: #e67e22;
  margin-bottom: 10px;
  --ionicon-stroke-width: 16px;
  line-height: 120%;
  /* vertical-align: middle; */
  margin-top: -5px;
}

/* pizzas----------------------------------------------  */
.pizzas-list {
  list-style: none;
  width: 100%;
}
.pizza-photo {
  background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9));
}
.pizza-photo img {
  opacity: 0.9;
  width: 60%;
  margin: 4% 20% 4% 20%;
  height: auto;
  transform: scale(0.95);
  transition: transform 0.5s;
}
.pizza-feature {
  margin-bottom: 5px;
}

.pizza-photo img:hover {
  transform: scale(1.07);
  opacity: 1;
}

div.pizza-photo {
  border-radius: 5%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9));
}
div.pizza-photo a:visited,
div.pizza-photo a:link {
  color: white;
  text-align: center;
  font-size: 3vw;
  text-transform: uppercase;
  width: 60%;
  padding-bottom: 20px;
  margin: 0% 20% 30px 20%;
  text-decoration: none;
  transition: color 0.5s;
  display: block;
}
div.pizza-photo:hover a {
  color: #e67e22;
}
div.pizza-photo:hover img {
  transform: scale(1.07);
  opacity: 1;
}

/* how it works---------------------------------------- */
.section-steps {
  background-color: #f4f4f4;
}

.steps-box {
  margin-top: 30px;
}

.steps-box:first-child {
  text-align: right;
  padding-right: 3%;
}

.steps-box:last-child {
  text-align: left;
  padding-left: 3%;
  margin-top: 70px;
}

.app-screen {
  width: 40%;
}

.works-step {
  margin-bottom: 50px;
}

.works-step:last-of-type {
  margin-bottom: 80px;
}

.works-step div {
  color: #e67e22;
  font-size: 150%;
  height: 54px;
  width: 54px;
  border: 2px solid #e67e22;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
  margin-right: 25px;
  float: left;
  padding: 5px;
}

.btn-app:link,
.btn-app:visited {
  border: 0;
}

.btn-app img {
  height: 50px;
  width: auto;
  margin-right: 10px;
}
/* section pizza */
.section-pizza {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(img/pizza\ delivery.jpg);
  background-position: center; /* centrar la imagen */
  background-size: cover; /*to see all the image  */
  height: 100vh; /* 100  view port*/
  background-attachment: fixed;
  color: white;
}
.plan-box {
  background-color: black;
  width: 90%;
  height: auto;
  border-radius: 5px;
  margin-right: 5%;
}
.plan-box div {
  padding: 15px;
  margin-bottom: 0%;
  border-bottom: 1px solid rgb(17, 17, 17);
}
#pizza-h3 {
  font-size: 150%;
}
.plan-box ul {
  margin-top: 3%;
  margin-left: 6%;
}
.plan-box ul li {
  margin-top: 3%;
  margin-left: 6%;
  word-spacing: 2px;
  letter-spacing: 1px;
}

.pizza-price {
  font-size: 300%;
  margin-bottom: 10px;
  font-weight: 100;
}

.btn-container {
  margin-top: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.box-and-deatils {
  display: flex;
  align-items: center;
  margin-top: 0%;
}
.destails-box {
  height: auto;
}
.destails-box:first-child {
  text-align: right;
  padding-right: 3%;
}

.destails-box:last-child {
  text-align: left;
  padding-left: 3%;
}
/* ----------------------------------------------- */
/* FORM */
/* ----------------------------------------------- */

.contact-form {
  width: 60%;
  margin: 0 auto;
}

input[type="text"],
input[type="email"],
input[type="telefono"],
select,
textarea {
  width: 100%;
  padding: 7px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

textarea {
  height: 100px;
}

*:focus {
  outline: none;
}
/* ----------------------------------------------- */
/* FOOTER */
/* ----------------------------------------------- */

footer {
  background-color: #333;
  padding: 30px;
  font-size: 80%;
}

.footer-nav {
  list-style: none;
  float: left;
}

.social-links {
  list-style: none;
  float: right;
}

.footer-nav li,
.social-links li {
  display: inline-block;
  margin-right: 20px;
}

.footer-nav li:last-child,
.social-links li:last-child {
  margin-right: 0;
}

.footer-nav li a:link,
.footer-nav li a:visited,
.social-links li a:link,
.social-links li a:visited {
  text-decoration: none;
  border: 0;
  color: #888;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}

.footer-nav li a:hover,
.footer-nav li a:active {
  color: #ddd;
}

.social-links li a:link,
.social-links li a:visited {
  font-size: 160%;
}

.facebook-logo,
.twitter-logo,
.wpp-logo,
.instagram-logo {
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}

.facebook-logo:hover {
  color: #3b5998;
}

.twitter-logo:hover {
  color: #00aced;
}

.wpp-logo:hover {
  color: #39d025;
}

.instagram-logo:hover {
  color: #8d2785;
}

footer p {
  color: #888;
  text-align: center;
  margin-top: 20px;
}
